<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shq.movies">
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/launcher_ic"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/launcher_ic"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">
        <activity android:name=".ui.activity.QueryMovieActivity"></activity>
        <!-- 适配 Android 7.0 文件意图 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 闪屏界面 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 崩溃界面 -->
        <!-- 引导界面 -->
        <!-- App 首页 -->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- 登录界面 -->
        <!-- 注册界面 -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 设置界面 -->
        <!-- 忘记密码 -->
        <!-- 重置密码 -->
        <activity
            android:name=".ui.activity.PasswordResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/password_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 手机号更换 -->
        <activity
            android:name=".ui.activity.PhoneResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/phone_reset_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 关于我们 -->
        <!-- 个人资料 -->
        <activity
            android:name=".ui.activity.PersonalDataActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/personal_data_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 修改个人资料 -->
        <!-- 修改个人资料 -->
        <activity
            android:name=".ui.activity.EditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 我的影片列表 -->
<!--        影片详情-->
        <activity
            android:name=".ui.activity.MovieDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"></activity>
        <!-- 我的影片列表-->
        <activity
            android:name=".ui.activity.MyMovieListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 影片列表 -->
        <activity
            android:name=".ui.activity.MovieListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 我喜爱的影评列表 -->
        <activity
            android:name=".ui.activity.FavoriteReviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 我的消息列表 -->
        <activity
            android:name=".ui.activity.MessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 我的评分列表 -->
        <activity
            android:name=".ui.activity.RateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 评分电影 -->
        <activity
            android:name=".ui.activity.RatingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 收藏的电影 -->
        <activity
            android:name=".ui.activity.RecomListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 推荐的电影列表 -->
        <activity
            android:name=".ui.activity.LastTimeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 那年今日的电影列表 -->
        <activity
            android:name=".ui.activity.UpcomingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 即将上映的电影列表 -->
        <activity
            android:name=".ui.activity.MonthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 当月电影的电影列表 -->
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!--历史记录的电影列表 -->
        <activity
            android:name=".ui.activity.ReviewDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!--影评详情列表 -->
        <activity
            android:name=".ui.activity.WriteReviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!--添加影评 -->
        <activity
            android:name=".ui.activity.CommentListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!--评论列表 -->
        <activity
            android:name=".ui.activity.FavoriteActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" /> <!-- 浏览器 -->
        <!-- 拍照选择 -->
        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 图片选择 -->
        <activity
            android:name=".ui.activity.ImageSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/image_select_title"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 查看大图 -->
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 播放视频 -->
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" /> <!-- 选择视频 -->
        <activity
            android:name=".ui.activity.VideoSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- 对话框案例 -->
        <!-- 状态案例 -->
    </application>

</manifest>